<template name="layout">

	<body>
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="masthead clearfix">
						<div class="inner">
	
		
		<!-- Here is the standard Bootstrap code for a Navigation bar taken directly from getbootstrap.com/components -->
		<nav class="navbar  navbar-default">
 	<div class="container-fluid">
   <!-- Brand and toggle get grouped for better mobile display -->
   	<div class="navbar-header">
     	<button type="button" class="navbar-toggle collapsed" 
 	data-toggle="collapse" data-target="#bs-example-navbar-collapse-1 " aria-expanded="false" aria-controls="navbar">
       	<span class="sr-only">Toggle navigation</span>
       	<span class="icon-bar"></span>
       	<span class="icon-bar"></span>
       	<span class="icon-bar"></span>
     	</button>
     	<a class="navbar-brand" href="{{pathFor 'welcome'}}">
     		<button class="btn btn-default">
            	<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          	</button>
     	</a>
   	</div>

   <!-- Collect the nav links, forms, and other content for toggling -->
   	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     	<ul class="nav navbar-nav">
     		{{#if currentUser}}
			<li><a href="{{pathFor 'people'}}">
				<button class="btn btn-default">
            	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          	</button>
			</a></li>
			{{/if}}

			<li><a href="{{pathFor 'game'}}">Something Cool</a></li>
			<li><a href="{{pathFor 'firefly'}}">Mini Game</a></li>
</ul>
   	<ul class="nav navbar-nav navbar-right">
           	{{> loginButtons}} <!-- here -->
   	</ul>
   	</div><!-- /.navbar-collapse -->
 	</div><!-- /.container-fluid -->
</nav>
						</div>
					</div>
					
					</div>
					
		</div>
			</div>	
			{{> yield}}
		
	</body>
</template>
