.bg {
 
  width: 100%;
  height: 0px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 0px;
  color: black;
  background:transparent;
}


#imageOne {
  position: absolute;
  left: 150px;
  top: 500px;
}

#updating {
  position: absolute;
  color: #6CDAC5;
  font-size: 15px;
  font-weight: bold;
  left: 150px;
  top: 600px;
}

#imageTwo {
  position: absolute;
  left: 330px;
  top: 500px;
}


#rating {
  position: absolute;
  color: #6CDAC5;
  font-size: 15px;
  font-weight: bold;
  left: 360px;
  top: 600px;
}

#imageThree {
  position: absolute;
  left: 510px;
  top: 500px;
}


#chatting {
  position: absolute;
  color: #6CDAC5;
  font-size: 15px;
  font-weight: bold;
  left: 510px;
  top: 600px;
}

#imageFour {
  position: absolute;
  left: 690px;
  top: 500px;
}


#displaying {
  position: absolute;
  color: #6CDAC5;
  font-size: 15px;
  font-weight: bold;
  left: 670px;
  top: 600px;
}

#imageFive {
  position: absolute;
  left: 870px;
  top: 500px;
}


#learning {
  position: absolute;
  color: #6CDAC5;
  font-size: 15px;
  font-weight: bold;
  left: 870px;
  top: 600px;
}

#imageSix {
  position: absolute;
  left: 1050px;
  top: 500px;
}


#abouting {
  position: absolute;
  color: #6CDAC5;
  font-size: 15px;
  font-weight: bold;
  left: 1080px;
  top: 600px;
}







@font-face{ 
  font-family: 'Amadeus';
  src: url('/Amadeus-fontfacekit/web fonts/amadeus_regular_macroman/Amadeus-webfont.eot');
  src: url('/Amadeus-fontfacekit/web fonts/amadeus_regular_macroman/Amadeus-webfont.eot?iefix') format('eot'),
       url('/Amadeus-fontfacekit/web fonts/amadeus_regular_macroman/Amadeus-webfont.woff') format('woff'),
       url('/Amadeus-fontfacekit/web fonts/amadeus_regular_macroman/Amadeus-webfont.ttf') format('truetype'),
       url('/Amadeus-fontfacekit/web fonts/amadeus_regular_macroman/Amadeus-webfont.svg#Amadeus-webfont') format('svg');
}

@font-face{ 
  font-family: 'Alpha-Echo';
  src: url('/Alpha-Echo-fontfacekit/web fonts/alphaecho_regular_macroman/alpha_echo-webfont.eot');
  src: url('/Alpha-Echo-fontfacekit/web fonts/alphaecho_regular_macroman/alpha_echo-webfont.eot?iefix') format('eot'),
       url('/Alpha-Echo-fontfacekit/web fonts/alphaecho_regular_macroman/alpha_echo-webfont.woff') format('woff'),
       url('/Alpha-Echo-fontfacekit/web fonts/alphaecho_regular_macroman/alpha_echo-webfont.ttf') format('truetype'),
       url('/Alpha-Echo-fontfacekit/web fonts/alphaecho_regular_macroman/alpha_echo-webfont.svg#Alpha-Echo-webfont') format('svg');
}

@font-face{ 
  font-family: 'GrutchShaded';
  src: url('/GrutchShaded-fontfacekit/web fonts/grutchshaded_regular_macroman/GrutchShaded-webfont.eot');
  src: url('/GrutchShaded-fontfacekit/web fonts/grutchshaded_regular_macroman/GrutchShaded-webfont.eot?iefix') format('eot'),
       url('/GrutchShaded-fontfacekit/web fonts/grutchshaded_regular_macroman/GrutchShaded-webfont.woff') format('woff'),
       url('/GrutchShaded-fontfacekit/web fonts/grutchshaded_regular_macroman/GrutchShadedo-webfont.ttf') format('truetype'),
       url('/GrutchShaded-fontfacekit/web fonts/grutchshaded_regular_macroman/GrutchShaded-webfont.svg#GrutchShaded-webfont') format('svg');
}


#Amadeus{ 
  font-family: 'Amadeus';
  src: url('/Amadeus-fontfacekit/web fonts/amadeus_regular_macroman/Amadeus-webfont.eot');
  src: url('/Amadeus-fontfacekit/web fonts/amadeus_regular_macroman/Amadeus-webfont.eot?iefix') format('eot'),
       url('/Amadeus-fontfacekit/web fonts/amadeus_regular_macroman/Amadeus-webfont.woff') format('woff'),
       url('/Amadeus-fontfacekit/web fonts/amadeus_regular_macroman/Amadeus-webfont.ttf') format('truetype'),
       url('/Amadeus-fontfacekit/web fonts/amadeus_regular_macroman/Amadeus-webfont.svg#Amadeus-webfont') format('svg');
}

#Alpha-Echo{ 
  font-family: 'Alpha-Echo';
  src: url('/Alpha-Echo-fontfacekit/web fonts/alphaecho_regular_macroman/alpha_echo-webfont.eot');
  src: url('/Alpha-Echo-fontfacekit/web fonts/alphaecho_regular_macroman/alpha_echo-webfont.eot?iefix') format('eot'),
       url('/Alpha-Echo-fontfacekit/web fonts/alphaecho_regular_macroman/alpha_echo-webfont.woff') format('woff'),
       url('/Alpha-Echo-fontfacekit/web fonts/alphaecho_regular_macroman/alpha_echo-webfont.ttf') format('truetype'),
       url('/Alpha-Echo-fontfacekit/web fonts/alphaecho_regular_macroman/alpha_echo-webfont.svg#Alpha-Echo-webfont') format('svg');
}

#GrutchShaded{ 
  font-family: 'GrutchShaded';
  src: url('/GrutchShaded-fontfacekit/web fonts/grutchshaded_regular_macroman/GrutchShaded-webfont.eot');
  src: url('/GrutchShaded-fontfacekit/web fonts/grutchshaded_regular_macroman/GrutchShaded-webfont.eot?iefix') format('eot'),
       url('/GrutchShaded-fontfacekit/web fonts/grutchshaded_regular_macroman/GrutchShaded-webfont.woff') format('woff'),
       url('/GrutchShaded-fontfacekit/web fonts/grutchshaded_regular_macroman/GrutchShadedo-webfont.ttf') format('truetype'),
       url('/GrutchShaded-fontfacekit/web fonts/grutchshaded_regular_macroman/GrutchShaded-webfont.svg#GrutchShaded-webfont') format('svg');
}