.haha{
	background-color: white;
	
}

.Keai{
	background-image: url("images/keai.jpg");
	background-size: cover;
	background-color: white;
}

.Douzi{
	background-image: url("images/douzi.jpg");
	background-size: cover;
	background-color: white;
}

.Shui{
	background-image: url("images/shui.jpg");
	background-size: cover;
	background-color: white;
}

.Gangqin{
	background-image: url("images/gangqin.jpg");
	background-size: cover;
	background-color: white;
}

.Sea{
	background-image: url("images/sea.jpg");
	background-size: cover;
	background-color: white;
}

.Guangzi{
	background-image: url("images/guanzi.jpg");
	background-size: cover;
	background-color: white;
}
